{%load static %}
{% block chapter%}
    <!-- About Curriculum -->
                                        <div class="about-curriculum mb-30">
                                            <h4>Syllabus</h4>
                                            <p>Sed elementum lacus a risus luctus suscipit. Aenean sollicitudin sapien neque, in fermentum lorem dignissim a. Nullam eu mattis quam. Donec porttitor nunc a diam molestie blandit. Maecenas quis ultrices ex. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam eget vehicula lorem, vitae porta nisi. Ut vel quam erat. Ut vitae erat tincidunt, tristique mi ac, pharetra dolor. In et suscipit ex. Pellentesque aliquet velit tortor, eget placerat mi scelerisque a. Aliquam eu dui efficitur purus posuere viverra. Proin ut elit mollis, euismod diam et, fermentum enim.</p>
                                        </div>

                                        <!-- Curriculum Level -->
                                        <div class="curriculum-level mb-30">
                                            <h4 class="d-flex justify-content-between"><span>Week 1</span> <span>0/4</span></h4>
                                            <h5>Beginners Level</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla.</p>

                                            <ul class="curriculum-list">
                                                <li><i class="fa fa-file" aria-hidden="true"></i> 1 video, 1 audio, 1 reading
                                                    <ul>
                                                        <li>
                                                            <span><i class="fa fa-video-camera" aria-hidden="true"></i> Video: <span>Greetings and Introductions</span></span>
                                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i> 15 minutes</span>
                                                        </li>
                                                        <li>
                                                            <span><i class="fa fa-file-text" aria-hidden="true"></i> Reading: <span>Word Types</span></span>
                                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i> 15 minutes</span>
                                                        </li>
                                                        <li>
                                                            <span><i class="fa fa-volume-down" aria-hidden="true"></i> Audio: <span>Listening Exercise</span></span>
                                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i> 15 minutes</span>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="d-flex justify-content-between">
                                                    <span><i class="fa fa-graduation-cap" aria-hidden="true"></i> Graded: Cumulative Language Quiz</span>
                                                    <span>3 Questions</span>
                                                </li>
                                            </ul>
                                        </div> 


{%endblock%}